# Kshs-USD Exchange Time Series Forecast

## 1. Import Necessary Libraries

In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras import layers

## 2. Load Data

In [88]:
# Load the csv file
exchange_data = pd.read_csv('CBK_Indicative_Exchange_Rates.csv')

In [89]:
# Get the first 5 rows of the dataset
exchange_data.head()

         Date   Currency      Mean       Buy      Sell  Unnamed: 5  Unnamed: 6
0    1/4/2024  US DOLLAR  157.3912  157.0000  157.7824         NaN         NaN
1    1/3/2024  US DOLLAR  157.3235  156.9529  157.6941         NaN         NaN
2    1/2/2024  US DOLLAR  156.9853  156.5000  157.4706         NaN         NaN
3  12/29/2023  US DOLLAR  156.4618  156.0118  156.9118         NaN         NaN
4  12/28/2023  US DOLLAR  156.0941  155.6588  156.5294         NaN         NaN

In [90]:
# Checking the information of the dataset
exchange_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        4812 non-null   object
 1   Currency    4812 non-null   object
 2   Mean        4812 non-null   float64
 3   Buy         4812 non-null   float64
 4   Sell        4812 non-null   float64
 5   Unnamed: 5  0 non-null      float64
 6   Unnamed: 6  0 non-null      float64
dtypes: float64(5), object(2)
memory usage: 263.3+ KB

## 3. Data Cleaning

### 3.1 Splitting the date column to day, month and year

In [93]:
# Splitting the Date Column using split() function
exchange_data[['Day', 'Month', 'Year']] = exchange_data['Date'].str.split('/', expand=True)

# Inserting the new columns at the desired positions
exchange_data = exchange_data[['Day', 'Month', 'Year'] + [col for col in exchange_data.columns if col not in ['Day', 'Month', 'Year']]]

### 3.2 Drop Unnecessarry Columns

In [94]:
exchange_data.drop(columns=['Unnamed: 5',  'Unnamed: 6', 'Date'], inplace=True)

In [99]:
exchange_data.columns

Index(['Day', 'Month', 'Year', 'Currency', 'Mean', 'Buy', 'Sell'], dtype='object')

## 4. Time Series Analysis